/*


#foo {} = ID selector, highest specificty weight
.foo {} = Class selector, medium specificty weight
h1 {} = Type selector, lowest specificty weight
*/
/* TYPE SELECTORS */
/* GENERAL */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden;
  /* Disable scrollbars */
  display: block;
  /* No floating content on sides */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #000;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* GRID & GRID ITEMS */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5);
  color: white;
}

.grid-item {
  text-align: center;
}

.interface-item {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

/* SPECIFIC SECTIONS */
#game {
  grid-column: span 5;
  position: relative;
}

#footer {
  grid-column: span 5;
}

#tagline {
  text-align: center;
  color: white;
  font-style: italic;
}

#leaderboard {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10;
  color: black;
}

/* SPECIFIC ITEMS */
#ascii-art {
  font-family: monospace;
  color: white;
  white-space: pre;
  grid-column: span 5;
  color: white;
  white-space: pre;
  text-align: center;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.title {
  text-align: center;
  font-size: 2.5vw;
}

.list-item {
  font-size: 1.2vw;
}

.playBtn {
  display: inline-block;
  padding: 6px 12px;
  background: yellow;
  border: thin solid #000000;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px;
  color: black;
  cursor: pointer;
  font-size: 1vw;
  font-family: "Courier New", Courier, monospace;
}

.centerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BUTTONS, LINKS, FORMS */
a {
  text-decoration: none;
  font-weight: 300;
}

a.nav {
  color: white;
  text-align: center;
}

a.nav:visited {
  color: white;
}

a.blue {
  color: blue;
}

a.blue:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.25em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: #000000;
}

a.btn:hover {
  color: #000000;
  background-color: #ffffff;
  border: 0.1em solid #000000;
}

@media all and (max-width: 30em) {
  a.btn {
    display: block;
    margin: 0.4em auto;
  }
}
input,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  width: 100%;
}

select {
  text-transform: none;
}

/* MY MODALS */
.modal-- {
  z-index: 1051;
  --gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vh; */
  width: 100%;
  height: 100vh;
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--gap);
  background: rgba(0, 0, 0, 0.5);
  color: black;
}

.modal--inner {
  background: white;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 4px;
}

.modal--top {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
}

.modal--title {
  flex-grow: 1;
  padding: 0 var(--gap);
  font-size: 20px;
}

.modal--close {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--gap);
  background: none;
  border: none;
  outline: none;
}

.modal--content {
  padding: 0 var(--gap);
  line-height: 1.5;
}

.modal--bottom {
  text-align: right;
  padding: var(--gap);
}

.modal--button {
  display: inline-block;
  padding: 6px 12px;
  background: #364135;
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}

.modal--button:not(:last-child) {
  margin-right: var(--gap);
}

.modal--button:hover {
  background-color: #000;
}